.editButton {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2196F3; /* Green for accept */
    color: white;
    margin-left: 5px;
    z-index: 3;
}
#searchPage h1 {
    margin-left: 4%;
    text-align: left;
    }
.service-actions {
    width: 100%;
    order: 3; /* Reorder to appear last */
}

