/*lines from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
  
  .headerOfParagraphFontForLast10AddedServices{
    font-size: 1.3rem;
  }
  .paragraphFontLast10AddedServices{
    font-size: 1rem;
      }
  .imgLast10AddedServicesContainer{
    float: left;
    margin: 0 15px 0 0;
    width: 15%;  
    border-radius: 10px;
  }
  
  #Last10AddedServices {
    float: left;
    text-align: center;
    margin: 10px 30px;
    width: 70%;
    height: 100%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 30px 80px 0px rgba(0, 0, 0, 0.2);
  }
  #Last10AddedServices h1 {
    margin-left: 4%;
    text-align: left;
  }
  .headerForLast10AddedServices{
    font-size: 3rem;
  } 
  
  #MostOrder {
    display: inline-block;
    text-align: center;
    margin: 10px 50px;
    width: 17%;
    height: 100%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 30px 80px 0px rgba(0, 0, 0, 0.2);
  }
  .headerOfParagraphFontForMostOrder{
    font-size: 0.8rem;

  }
  .paragraphFontMostOrder{
    font-size: 0.7rem;

  }
  .imgMostOrderContainer{
    width: 100%;
    display:block;  
    border-radius: 10px;
}
  
  .styleFora{
    text-decoration:none; 
    color:black;
  }

h3 {
  font: bold 20px/1.5;
}
 


li p {
  font: 400 12px/1.5 "Poppins";
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}	

